:root {
    --cor-de-fundo:#E0FFFF;
    --cor-barra-lateral: #242424;
    --cor-chat: #6beff8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-de-fundo);
    display: flex;
}

.main-content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: var(--cor-barra-lateral);
    color: var(--cor-chat);
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    background-color: var(--cor-barra-lateral);
    min-width: 50px;
    height: 100%;
    color: var(--cor-chat);
    padding-top: 50px;
}

button {
    width: fit-content;
    height: 20px;
    background-color: #afe6f3;
    border-radius: 6px;
    color: #333;
    border-color: #242424;
}

.chat-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    justify-content: flex-end; /* Alinha o formulário no final */
}

#chat-box {
    flex: 1; /* Ocupa todo o espaço disponível */
    overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo for grande */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre as mensagens */
    padding-bottom: 20px;
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    color: #333;
}

.bot-message {
    background-color: #afe6f3;
    align-self: flex-start; /* Mensagens do bot à esquerda */
}

.user-message {
    background-color: #d1e7ff;
    align-self: flex-end; /* Mensagens do usuário à direita */
}

#message-form {
    display: flex;
    gap: 10px; /* Espaço entre o input e o botão */
}

#message-input {
    flex: 1; /* Ocupa o espaço restante */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#message-form button {
    padding: 0 20px;
    background-color: var(--cor-de-fundo);
    color: var(--cor-chat);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto; /* Reseta a altura fixa do seletor 'button' geral */
}

#message-form button:hover {
    background-color: #b0f2fd;
}

.footer {
    color: var(--cor-chat);
    display: flex;
    justify-content: center;
}


a:link 
{
    color: rgb(114, 214, 214);
    text-decoration: none;
}

/* link visitado (visited) */
a:visited
{
    color: rgb(167, 250, 250);;
}

/* link sobreposição do mouse (mouse over) */
a:hover
{
    color: rgb(167, 250, 250);
}

/* link ativado (selecionado) (selected link) */
a:active
{
    color: cyan;
}


details summary {
    list-style: none;         /* remove o marcador padrão */
    cursor: pointer;          /* mantém o cursor de clique */
}

details summary::-webkit-details-marker {
    display: none;            /* remove seta no Chrome, Edge, Safari */
}

.quemSomos {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px
}
