:root {
    --cor-de-fundo:#E0FFFF;
    --cor-barra-lateral: #242424;
    --cor-chat: #6beff8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-family:'Courier New', Courier, monospace;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--cor-de-fundo);
    display: flex; 
    box-sizing: border-box;
    overflow-y: hidden;     
    overflow-x: hidden;
    margin: 0;
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    overflow-y: hidden; 
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
}

.header{
    box-sizing: border-box;
    position: fixed;
    top: 0;    
    left: 40px;     
    right: 0;
    height: 40px;
    display: flex;
    background-color: var(--cor-barra-lateral);
    color: var(--cor-chat);
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 0;
    z-index: 1000;
}


.saudacao-inicial {
    text-align: center; 
    font-size: 40px; 
    font-weight: bold; 
    padding: 40px 0 20px 0; 
    width: 100%;
    color: #4169E1;
}


/*Barra lateral*/
.sidebar {
    background-color: var(--cor-barra-lateral);
    min-width: 40px; 
    height: 100%;
    color: var(--cor-chat);
    transition: min-width 0.3s ease-in-out;
    padding-bottom: 20px;
    
}

.sidebar:has(> .main-menu-details[open]) {
    min-width: 200px; 
}


/*Organização dos details*/
.main-menu-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}

.menu-topo {
  padding: 10px 5px; 
  display: flex;
  flex-direction: column; 
  gap: 8px; 
}

.menu-topo button {
  width: 100%; 
}

.menu-rodape {
  margin-top: auto;
  padding: 10px; 
}

.menu-rodape span,
.menu-rodape details {
    display: block; 
    margin-bottom: 10px;
}

.container-icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 30px; 
}

.menu-content-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px); 
    overflow: auto; 
    box-sizing: border-box;
}

.menu-topo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.menu-topo button {
    font-size: 18px;
    width: 100%;
    height: 30px;
    background-color: var(--cor-de-fundo);
    border-radius: 10px;
    background-color: var(--cor-barra-lateral); 
    color: white;            
    border: none;
}

.menu-topo button:hover {
    background-color: white;
    color:#333;
}

.menu-rodape {
    margin-top: auto;
    padding: 20px 10px 0 10px;
    box-sizing: border-box;
}

.menu-rodape span {
    margin-bottom: 5px; 
    display: block; 
}

.menu-rodape details {
    display: block; 
    margin-bottom: 10px; 
}

.menu-rodape details[open] a,
.menu-rodape details[open] button {
  display: block; 
  width: 100%;     
  margin-bottom: 8px;
  box-sizing: border-box; 
  text-align: left;
  padding: 5px; 
  height: auto; 
}

.menu-rodape details[open] .btn-config {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  box-sizing: border-box;
}

details {
    padding-top: 30px;
}

details summary {
    list-style: none;
    cursor: pointer;
}

details summary::-webkit-details-marker {
    display: none;            
}


/*Botões do ASIDE*/
button {
    width: fit-content;
    height: 20px;
    /*background-color: #afe6f3;*/
    background-color: var(--cor-barra-lateral);
    border-radius: 6px;
    color: white;
    border-color: #242424;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out;
}

button:hover {
    background-color: #b0f2fd;
    box-shadow: 
        0 0 5px #b0f2fd,
        0 0 10px #b0f2fd,
        0 0 20px #b0f2fd;
}


/*Main do chatbot*/
.chat-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    min-height: 0;
}

.main-content:has(.chat-container) {
    overflow-y: hidden;
}

.bot-message::before {
  content: '';
  position: absolute;
  left: -60px;
  top: 0;
  width: 45px;
  height: 45px;
  background-image: url('../Imagens/golfinho.png'); 
  background-size: cover; 
  background-position: center;
  border-radius: 50%;
}

#chat-box {
    flex: 1; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.message {
    padding: 12px 18px;
    border-radius: 25px;
    max-width: 80%;
    color: #333;
    line-height: 1.5;
    width: fit-content;
}

.bot-message {
    background-color: rgba(55, 109, 225, 0.8);
    align-self: flex-start; 
    position: relative;
    margin-left: 60px;
    max-width: 80%;
    width: fit-content;
    border-radius: 15px;
    padding: 10px;
    color: #eef2f5;
    padding-left: 20px;
}

.bot-message ol,
.bot-message ul {
    list-style-position: inside; 
    margin: 0; 
    padding-left: 1.5em; 
}

.user-message {
    max-width: 70%;
    background-color: rgba(135, 206, 235, 0.5);
    align-self: flex-end; 
    border-radius: 15px;
    padding: 10px;
    color:#333;
}

#message-form {
    display: flex;
    gap: 10px; 
    align-items: center;
    padding-top: 10px;
}

#message-input {
    flex: 1; 
    background-color: rgba(135, 206, 235, 0.5);
    color: #333;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}

#message-input::placeholder {
  color: #333; 
}

#message-form button {
    padding: 0 25px;
    background-color: var(--cor-de-fundo);
    color: var(--cor-chat);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    font-size: 16px;
    font-weight: bold; 
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out;
}

#message-form button:hover {
    background-color: #b0f2fd;
    color:white;
    box-shadow: 
        0 0 5px #b0f2fd,
        0 0 10px #b0f2fd,
        0 0 20px #b0f2fd;

}


/*Links de acesso*/
a:link 
{
    color: rgb(114, 214, 214);
    text-decoration: none;
}

a:visited
{
    color: rgb(167, 250, 250);;
}

a:hover
{
    color: rgb(167, 250, 250);
}

a:active
{
    color: cyan;
}


/*CSS da página quem somos*/
.quemSomos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #333;
    line-height: 1.6;
    padding: 30px 40px;          
}

.quemSomos h1 {
    font-size: 2.2rem; 
    color: var(--cor-barra-lateral); 
    text-align: center;
    margin-bottom: 25px;
}

.quemSomos p {
    font-size: 1rem; 
    margin-bottom: 1.2em; 
    text-align: justify;  
}

.quemSomos .lista-missao {
    list-style: none; 
    margin-bottom: 1.2em;
    padding-left: 0;
}

.quemSomos .lista-missao li {
    margin-bottom: 10px;
}

.quemSomos .slogan {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: #555;
    margin-top: 20px;
    margin-bottom: 1.2em;
}

.quemSomos > img {
    width: 200px;
    margin: 20px auto auto;
}


/*CSS da página de login*/
.login-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    width: 100%;
    height: 400px;
    margin: 80px auto 0 auto;
    justify-content: space-around;
    color: #333;
    line-height: 1.6;
    background-color:rgb(255, 255, 255); 
    padding: 30px 40px;      
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.login-page > img {
    width: 40%;
    max-width: 250px; 
    height: auto;
}

.login-page > form {
    height: 50%;
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.login-page > form > p {
    font-size: 18px; 
    font-weight: bold;
    margin: 0;
}

.login-page > p {
  font-size: 30px;
  text-align: end;
  margin-top: 80px;
}

.login-page > form > button {
    display: flex;
    align-items: center;       
    justify-content: center;   
    

    align-self: center;
    padding: 15px 30px; 
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    line-height: normal;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer; 
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out;
}

.login-page > form > button:hover {
  background-color: #0056b3;
  box-shadow: 
        0 0 5px #007bff,
        0 0 10px #007bff,
        0 0 20px #007bff;
}

.titulo-login {
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    color:rgba(65, 105, 225, 1.0);
    font-weight: 100;
}


/*Parte final de todas as páginas do site*/
.footer {
  color: #333;
  padding: 20px; 
  text-align: center;      
  width: 100%;            
  box-sizing: border-box; 
}