:root {
    --cor-de-fundo: #002255;
    --cor-barra-lateral: #242424;
    --cor-chat: #f2f4f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-de-fundo);
    display: flex;
}

.main-content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: var(--cor-barra-lateral);
    color: var(--cor-chat);
    font-size: 10px;
    justify-content: space-between;
}

.sidebar {
    background-color: var(--cor-barra-lateral);
    min-width: 50px;
    height: 100%;
    color: var(--cor-chat);
}

.chat-container {
    flex: 1;
}

.footer {
    color: var(--cor-chat);
}


